@font-face {
  font-family: 'Inter';
  /* Point to the file in your folder structure */
  src: url('../assets/fonts/Inter-VariableFont_slnt\,wght.ttf')
    format('truetype');
  font-weight: 100 900; /* Tells CSS this one file covers all weights */
  font-style: normal;
}

:root {
  --font-family: 'Inter', sans-serif;
  --font-size: 0.875rem;
  --green: #c5f82a;
  --white: #ffffff;
  --grey-700: #333333;
  --grey-800: #1f1f1f;
  --grey-900: #141414;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--white);
  font-family: var(--font-family);
  font-size: var(--font-size);
  background-color: var(--grey-900);
}

img {
  width: 100%;
}

.main,
.card-container,
.card,
.profile,
.bio,
.links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  width: 100%;
  min-height: 100vh;
}

.card-container {
  width: 100%;
  padding: 1.5rem;
  flex-grow: 1;
}

.card {
  padding: 1.75rem;
  width: 100%;
  gap: 1.25rem;
  text-align: center;
  background-color: var(--grey-800);
  border-radius: 0.5rem;
}

.profile {
  gap: 1.25rem;
}

.profile .avatar {
  max-width: 5.25rem;
  border-radius: 50%;
  overflow: hidden;
}

.profile .bio {
  gap: 0.5rem;
}

.profile .name {
  font-size: 1.5rem;
  font-weight: 600;
}

.profile .location {
  color: var(--green);
  font-weight: 700;
}

.profile .description {
  font-weight: 400;
}

.links {
  width: 100%;
  list-style: none;
  gap: 0.825rem;
}

.link {
  width: 100%;
  font-weight: 600;
  border-radius: 0.5rem;
  background-color: var(--grey-700);
  overflow: hidden;
}

.link a {
  display: block;
  width: 100%;
  padding: 0.75rem 0;
  text-decoration: none;
  color: var(--white);
}

.link a:hover {
  color: var(--grey-900);
  background-color: var(--green);
}

@media screen and (min-width: 375px) {
  body {
    font-size: var(--font-size);
  }

  .card {
    padding: 2.5rem 1.75rem;
    width: 350px;
  }
}
